{{define "title"}}blog #{{.Tag}} - Blanktar{{end}}

{{define "description"}}タグ「{{.Tag}}」が付与されたブログ記事の一覧。全{{len .Posts}}記事。{{end}}

{{define "head"}}
<style>
.articles-of-tag {
    list-style: disc;
}
.articles-of-tag a {
    color: inherit;
    text-decoration: none;
}
.articles-of-tag time::after {
    content: '   ';
    white-space: pre;
}

@media (hover: hover) {
    .articles-of-tag a:hover {
        text-decoration: underline;
    }
}
</style>
{{end}}

{{define "main"}}
    <ol class="bread-crumbs">
        <li><a href="/">top</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/blog/tags">tags</a></li>
    </ol>
    <h1>#{{.Tag}} に関する記事の一覧</h1>
    <ol class="articles-of-tag">
        {{range .Posts}}
            <li><a href="{{.Path}}">
                <time>{{.Published.Format "2006-01-02"}}</time>
                {{.Title}}
            </a></li>
        {{end}}
    </ol>
{{end}}
