html {
    background: none;
    font-size: 9pt;
    padding: 0;
}
body {
    padding: 0;
    max-width: 100%;
}

header {
    display: none;
}

.bread-crumbs li:first-child::before {
    content: "blanktar.jp";
}
.bread-crumbs li:first-child a {
    display: none;
}

h1 {
    font-size: 200%;
    text-align: center;
    margin: 0 0 .5em;
}
h2 {
    margin: 1em 0 0.5em;
}

article {
    column-width: 40em;
}
.bread-crumbs, article h1, article .metadata {
    column-span: all;
}
.metadata {
    position: absolute;
    top: 0;
    right: 0;
}
article table th {
    background-color: inherit;
    border-bottom: 2px double #000 !important;
}
article table th, article table td {
    border: 1px solid #000;
}
ul, ol {
    padding-left: 2em;
}
pre {
    white-space: pre-wrap;
    word-break: break-all;
}

.share {
    display: none;
}

footer {
    opacity: 1;
    font-size: 6pt;
    position: fixed;
    bottom: -.5em;
    left: 0;
    right: 0;
}
footer a[href="/privacy-policy"] {
    display: none;
}
