{{block "base" .}}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{block "title" .}}Blanktar{{end}}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.svg">
        <link rel="alternate" type="application/atom+xml" href="/blog/feed.xml">
        <meta name="description" content="{{block "description" .}}{{.Description}}{{end}}">
        <meta name="robots" content="max-image-preview:large">
        <meta property="og:site_name" content="Blanktar">
        <meta property="og:title" content="{{template "title" .}}">
        <meta property="og:url" content="{{.URL}}">
        <meta property="og:type" content="article">
        <meta name="twitter:card" content="summary_large_image">

        {{block "head" .}}{{end}}

        <link rel="stylesheet" href="/print.css" media="print">
    </head>

    <body>
        {{block "body" .}}
            <div>
                <header>
                    <nav>
                        <a href="/" class="site-name">Blanktar</a>
                        <ul>
                            <li><a href="/about">about</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/works">works</a></li>
                            <li><a href="/photos">photos</a></li>
                        </ul>
                    </nav>
                </header>
                <main>
                    {{template "main" .}}
                </main>
            </div>
        {{end}}

        <footer>
            <a href="/privacy-policy">プライバシーポリシー</a> &copy; 2012- MacRat All Rights Reserved.
        </footer>

        <script>
            navigator.serviceWorker.getRegistrations().then((rs) => {
                for(let r of rs) {
                    r.unregister();
                }
            });
        </script>
    </body>
</html>
{{end}}
