{{define "title"}}{{.Metadata.DateTime.Format "2006年01月02日"}}の写真 - Blanktar{{end}}

{{define "description"}}{{.Metadata.Comment}}{{end}}

{{define "head"}}
    <meta property="og:image" content="https://blanktar.jp{{ index .VariantPathes 1920 }}>">

    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "blanktar.jp",
            "item": "https://blanktar.jp"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "photos",
            "item": "https://blanktar.jp/photos"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "{{.Metadata.DateTime.Year}}",
            "item": "https://blanktar.jp/photos/{{.Metadata.DateTime.Year}}"
        },
        {
            "@type": "ListItem",
            "position": 4,
            "name": "{{.Metadata.DateTime.Format "2006年01月02日"}}",
            "item": {{.URL}}
        }
    ]
}
    </script>
{{end}}

{{/* <style> */}}
{{define "style"}}
#image-container {
    margin: .5em auto 0;
    max-width: 100%;
    width: fit-content;
}
img {
    display: block;
    margin: 0 auto;
    max-height: 80dvh;
    width: auto;
    aspect-ratio: {{.Metadata.AspectRatio}};
}
{{end}}
{{/* </style> */}}

{{define "main"}}
    <article>
        <ol class="bread-crumbs">
            <li><a href="/">top</a></li>
            <li><a href="/photos">photos</a></li>
            <li><a href="/photos/{{.Metadata.DateTime.Year}}">{{.Metadata.DateTime.Year}}</a></li>
        </ol>

        <div id="image-container">
            <img
                src="/{{.ImagePath}}"
                srcset="{{range $w, $p := .VariantPathes}}/{{$p}} {{$w}}w, {{end}}"
                alt="{{.Metadata.Comment}}"
                width="{{.Metadata.Width}}"
                height="{{.Metadata.Height}}"
                loading="lazy">

            {{.Metadata.DateTime.Format "2006年01月02日"}} - {{.Metadata.Model}}{{if ne .Metadata.LensModel "unknown"}} - {{.Metadata.LensModel}}{{end}} - {{.Metadata.ExposureTime}} - F{{.Metadata.ApertureValue}} - ISO{{.Metadata.ISOSpeedRatings}}

            {{if .Metadata.Comment}}
                <div id="image-comment">
                    {{.Metadata.Comment}}
                </div>
            {{end}}
        </div>
    </article>
{{end}}
