{{define "title"}}
    {{.PageName}} - Blanktar
{{end}}

{{define "description"}}MacRatが撮った写真{{end}}

{{/* <style> */}}
{{define "style"}}
body {
    overflow-x: hidden;
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    transition: transform .2s ease, filter .2s ease;
}
@media (hover: hover) {
    img:hover {
        transform: scale(1.05) rotate(1deg);
        filter: brightness(1.1);
        z-index: 2;
    }
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9;
    color: #666;
}
@media (prefers-color-scheme: dark) {
    .date {
        background-color: #0002;
        color: #bbb;
    }
}
h2 {
    margin: .5em 0;
    padding: 0;
    font-size: 32px;
}
{{end}}
{{/* </style> */}}

{{define "main"}}
    <ol class="bread-crumbs">
        <li><a href="/">top</a></li>
        {{if ne .Path "photos"}}
            <li><a href="/photos">photos</a></li>
        {{end}}
    </ol>
    <h1>{{.PageName}}</h1>

    <ul>
        {{$date := ""}}
        {{range .Pages}}
            {{$d := .Metadata.DateTime.Format "2006年 1月"}}
            {{if ne $date $d}}
                {{$date = $d}}
                <li class="date">
                    <h2>{{$date}}</h2>
                </li>
            {{end}}
            <li>
                <a href="/{{.Path}}" {{if eq .Metadata.Comment ""}}aria-label="{{.Metadata.DateTime.Format "2006年1月2日"}}に撮影した写真"{{end}}>
                    <img
                        src="/{{index .ThumbnailPaths 640}}"
                        srcset="{{range $w, $p := .ThumbnailPaths}}/{{$p}} {{$w}}w, {{end}}"
                        alt="{{.Metadata.Comment}}"
                        width="320"
                        height="320"
                        loading="lazy">
                </a>
            </li>
        {{end}}
    </ul>
{{end}}
